.App {
  text-align: center;
}

form {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

form input {
  flex-basis: 80%;
  height: 20px;
}

form button {
 flex-basis: 20%;
 height: 25px;
}

.list ul{
  list-style: none;
}
.list ul li{
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: start;
  width: 96%;
  position: relative;
  margin-bottom: 20px;
}
.list ul li span{
  right: 10px;
  position: absolute;
  cursor: pointer;
  
  
}

.compliteToDo{
  text-decoration: line-through;
  background-color: rgba(8, 163, 68, 0.849) !important;
  color: red;
}